/*-----light mode/dark mode-----*/

/* Light mode CSS */
:root {
    --text: #202020;
    --background: #fafafa;
  }
  
  /* Dark mode CSS */
  body.dark {
    --text: #fafafa;
    --background: #202020;
    
  }
  
  body {
    color: var(--text);
    background: var(--background);
  }

/* ------------ container ------------ */
.container{
    padding: 10px;
    width:380px;
    margin:0 auto;
}


/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
img{
    width: 380px;
}
#refresh {
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 10px;
}

#header-title {
    text-align: center;
    padding: 0;
    font-size: 15px;
    position: relative;
}

/* iframe */
iframe {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    border-style: none;
}

/* ------------ content ------------ */

/*-----Clock-----*/
body {
    font-family: 'liquid_crystalregular', sans-serif;
    user-select: none;
  }
  
  .clock {
    height: 100px;
    width: 380px;
    line-height: 100px;  
    margin: 150px auto 0;
    padding: 0 50px;
    position: relative;
    left: -520px;
    background: #222;
    color: #eee;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #222;
    text-shadow: 0 0 3px #fff;
  }