/*-----light mode/dark mode-----*/

/* Light mode CSS */
:root {
    --text: #202020;
    --background: #fafafa;
  }
  
  /* Dark mode CSS */
  body.dark {
    --text: #fafafa;
    --background: #202020;
  }
  
  body {
    color: var(--text);
    background: var(--background);
  }

  #light-dark {
      width: 40px;
      height: 40px;
  }

/* ------------ container ------------ */
.container {
    padding:20px;
    width:380px;
    margin:0 auto;
}

/*---------- header ----------*/
#header {
    height: 22vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#refresh {
    margin-left: 350px;
    margin-top: 0px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
}

#refresh:hover {
    background: rgb(197,196,196);
    color: rgba(54,51,51,0.95);
    transition:  all 0.3s ease-in-out;
}

#header-title {
    text-align: center;
    padding: 20x;
    font-size: 15px;
    position: relative;
    display: block;
}

#taskArea {
    width: 380px;
    height: 50vh;
    overflow-x: hidden;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

#title {
    padding: 150px 30px;
    font-size: 20px;
}

#item {
    width: 370px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    justify-content: safe center;
    background-color: lightgray;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#done {
    background: transparent;
    border: none;
    outline: none;
    color: red;
    font-size: 20px;
    padding: 0px 10px;
    position: relative;
    width: 30px;
}

#parent {
    position: relative;
    padding: 0 10px;
    width: 100%;
    display: block;
}

#item:hover {
    background: rgb(197,196,196);
    color: rgba(54,51,51,0.95);
    transition:  all 0.3s ease-in-out;
}

.check {
    color: green;
}

#del {
    background: transparent;
    border: none;
    outline: none;
    color: red;
    font-size: 20px;
    padding-left: 30px;
    position: relative;
    right: 20px;
}

#del:hover {
    background: rgb(197,196,196);
    color: rgba(54,51,51,0.95);
    transition:  all 0.3s ease-in-out;
}

#add {
    position: relative;
    background: rgb(92,80,62);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px 2px;
}

#input {
    width: 310px;
    height: 40px;
    outline: none;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 20px;
    color: rgb(3,18,19);
}

#addList {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 20px;
    color: lightslategray
}

#addList:hover {
    background: rgb(197,196,196);
    color: rgba(54,51,51,0.95);
    transition:  all 0.3s ease-in-out;
}

.line {
    text-decoration: line-through;
}

/* iframe */
iframe {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    border-style: none;
    display: responsive;
}

/*-----Clock-----*/
  .clock {
    height: 100px;
    width: 380px;
    line-height: 100px;  
    margin: 150px auto 0;
    padding: 0 50px;
    position: relative;
    left: -520px;
    background: #222;
    color: #eee;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #222;
    text-shadow: 0 0 3px #fff;
    display: responsive;
}
